/* --- MODAL DE CONSOLA --- */
#web-terminal-modal {
    display: none;
    position: fixed;
    z-index: 1100; /* Encima del log modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#web-terminal-content {
    background-color: #000;
    margin: 2% auto;
    width: 90%;
    height: 90%;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; /* For fullscreen transition */
}

#web-terminal-content.fullscreen {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#web-terminal-header {
    background-color: var(--bgc-tabs); /* changeme */
    color: var(--txc-topic);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555;
}

#web-terminal-iframe-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: #000;
}

#web-terminal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.web-terminal-btn {
    background: #555;
    border: 1px solid #777;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
}

.web-terminal-btn:hover {
    background: #666;
}