/* --- MODAL DE CONSOLA --- */
#web-terminal-modal {
    display: none;
    position: fixed;
    z-index: 1100; /* Encima del log modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#web-terminal-content {
    background-color: #000;
    margin: 2% auto;
    width: 90%;
    height: 90%;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; /* For fullscreen transition */
}

#web-terminal-content.fullscreen {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#web-terminal-header {
    background-color: var(--bgc-tabs); /* changeme */
    color: var(--txc-topic);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555;
}

#web-terminal-iframe-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: #000;
}

#web-terminal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#web-terminal-right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.web-terminal-btn-open-tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    box-sizing: border-box;
    background: #333;
    border: 1px solid #555;
    border-radius: 4px;
    color: white !important;
    padding: 0 15px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.web-terminal-btn-open-tab:hover {
    background: #444;
    border-color: #777;
}

.web-terminal-btn-fullscreen {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #333;
    border: 1px solid #555;
    border-radius: 4px;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.web-terminal-btn-fullscreen:hover {
    background: #444;
    border-color: #777;
}

.web-terminal-btn-fullscreen:hover .fullscreen-icon-darkbg {
    filter: brightness(2.0);
    transform: scale(1.1);
}

.ssl-help-icon {
    margin-right: auto;
    margin-left: 5px;
    cursor: help;
    color: #aaa;
    font-size: 1.5em;
}

.ssl-help-icon:hover {
    filter: brightness(2.0); /* Lo ilumina al doble de su brillo original */
    transform: scale(1.1);    /* Un pelín más grande para dar feedback */
    cursor: help;             /* Cambia el cursor a una interrogación */
}