/* bastille_manager.css
   Estilo NATIVO (Minimalista)
*/
#refresh-spinner {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 5px;
    right: 115px;
    margin-top: 2px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.area_data_selection tbody td img {
    vertical-align: middle;
}

.lcelc {
    text-align: center;
    vertical-align: middle;
}

#refresh-now {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: var(--txc-input-rw);
    background-color: var(--bgc-area-data);
    border: 1px solid var(--boc-button);
    border-radius: var(--bor);
    padding: 0.125rem 0.375rem;
    cursor: pointer;
}
#refresh-now:hover {
    filter: brightness(150%);
}