/* --- DIFF VIEWER MODAL --- */
.diff-modal-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    z-index: 1000;
    display: none; align-items: center; justify-content: center;
}

.diff-modal-content {
    background: #1e1e1e;
    width: 90%; height: 90%;
    border-radius: 8px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    display: flex; flex-direction: column;
    overflow: hidden;
}

.diff-modal-header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
}

.diff-modal-header select {
    background: var(--txc-cblo);
    color: var(--text-color-secondary);
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.diff-modal-header-title {
    color: var(--txc-tnt-active);
    font-size: 13px;
    font-weight: bold;
}

.diff-filename {
    margin-left: 10px;
    color: var(--txc-tnt-active);
    font-size: 13px;
}

.diff-modal-body {
    flex-grow: 1;
    position: relative;
    /* Aquí dentro vivirá el Monaco Diff Editor */
}

#cm-compare-history .ide-cm-item-svg {
    filter: brightness(1.3);
}

/* --- ESTILOS DEL SELECT DE BACKUPS --- */
#diff-backup-select {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 3px;
    outline: none; /* Quita el anillo azul brillante al hacer clic */
}

#diff-backup-select option {
    background-color: #ffffff;
    color: #333333;
}
/* Nota: El fondo azul al hacer "hover" en las opciones es nativo del SO y no es modificable vía CSS. */


/* --- LÓGICA DE MAXIMIZAR MODAL --- */
#ide-diff-modal.maximized {
    padding: 0 !important;
}

#ide-diff-modal.maximized .diff-modal-content {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
}

#ide-diff-modal.maximized .diff-modal-body {
    flex-grow: 1 !important;
    height: auto !important;
    width: 100% !important;
}


/* --- BOTONES DE LA CABECERA (Close y Maximize) --- */
.diff-close-x,
#ide-diff-maximize {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.diff-close-x:hover,
#ide-diff-maximize:hover {
    opacity: 1;
}

.diff-close-x {
    background: none;
    border: none;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}